#ju{
    background: url(https://images.unsplash.com/photo-1513258496099-48168024aec0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) center center/cover no-repeat;
}

.p1h{
    font-family: Verdana;
    font-style: oblique;
}

hr.f1{
    border-top: 1px solid lightcoral;
}

#effview pre{
    color:lightsalmon;
}

hr.hl1{
    border-top: 0.5px solid lightcoral;
}

.alr{
    color:red;
    font-family:cursive;
}

hr.last{
    border-top: 1px solid lightskyblue;
}