<%- include ('../partials/header.html'); -%>
        <title>TPO home</title>
		<link rel="stylesheet" href="../../css/tpo.css">
</head>
<body>
      <%- include ('partials/navbar.html'); -%>
      <br/><br/><br/><br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="jumbotron text-center" style="color:azure" id="ju" >
                        <h1>WELCOME <%= tname.toUpperCase() %></h1>
                        <br/><br/><br/>
                        <p>WE ARE GLAD YOU'RE HERE</p>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
        <div class="row ">
            <div class="col-md-2">     
            </div>
            <div class="col-md-8 bg-light">
            <br>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="bg-white border rounded text-dark text-center p1h">
                            THIS MANY MODULES USED UNDER YOUR ACCESS
                            <hr class="f1">
                        </div>
                        <br>
                        
                        <div class="bg-white max-auto form-group border rounded">
                            <br>
                                <div id="effview">
                                <h3> + TPO Module</h3>
                                <pre>
            View TPO and Collage Details<br/>
            Update TPO and Collage Details<br/>
            Change Password<br/>
                                </pre>
                                <h3>+ Studnet Module</h3>
                                <pre>
            View Student Details<br/>
            Add Studnet Details<br/>
            OnCampus Job Announcement<br/>
                                </pre>
                                <h3>+ Company(HR) Module</h3>
                                <pre>
            View Company(HR) Details<br/>
            Request List of Company<br/>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div> 
            <div class="col-md-2"></div>
        </div>
        </div>
    </div>
</div>
<%- include ('../partials/footer.html'); -%>