
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="tpohome"><i class="fas fa-book-open"></i> TPO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="/tpo/tpohome">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Student
</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/tpo/viewstudent">View Students</a>
                    <a class="dropdown-item" href="/tpo/addstudent">Add Student</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/tpo/oncampusjob"><pre>OnCampus Job 
Announcement</pre></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Company(HR)
</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/tpo/viewcompany">View Companies</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/tpo/viewrequest"><pre>Request List 
Company</pre></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Profile
</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/tpo/viewdetailst">
                        <pre>View
Profile</pre>
                    </a>
                    <a class="dropdown-item" href="/tpo/editdetailst">
                        <pre>Edit
Profile</pre>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/tpo/changepass">
                        <pre>Change
Password</pre>
                    </a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
	


    